h1{
    text-align: center;
    font-size: 100px;
}

.main_screen{
    display: none;
}

.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.btn{
    padding: 40px;
    text-align: center;
    margin: 10px;
}

.btn:hover{
    cursor: pointer;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

.first_screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.first_screen h2{
    font-size: 50px;
}

.quantity_input{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    height: 80px;
    font-size: 24px;
}

.start{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    height: 100px;
    font-size: 45px;  
}